# Library Binaries
/lib
/lib32

# Example Binaries
/example/*/*.so

# Visual Studio
*.suo

# Development Environment (XChat Client)
/devenv

# Dub
.dub/
dub.selections.json

# Temporary files
*.swp

# Documentation generation
/gh-pages

